<!DOCTYPE html>
<html>
    <head>
        <title>This is the <title></title></title>
        <link rel="stylesheet" href="{{url_for('static',filename='mystyle0424.css')}}">
    </head>
    <body>
        <!-- 相簿 -->
        <!-- <div class="gallery">
            <a href="https://commons.wikimedia.org/wiki/File:Taipei_Taiwan_Taipei-101-Tower-01.jpg" target="_blank">
                <img src="img\0004.png">
            </a>
            <div class="remarks">
                Taipei 101 Tower
            </div>
        </div>
        <div class="gallery">
            <a href="https://commons.wikimedia.org/wiki/File:Taipei_Taiwan_Taipei-101-Tower-01.jpg" target="_blank">
                <img src="img\0004.png">
            </a>
            <div class="remarks">
                Taipei 101 Tower
            </div>
        </div>
        <div class="gallery">
            <a href="https://commons.wikimedia.org/wiki/File:Taipei_Taiwan_Taipei-101-Tower-01.jpg" target="_blank">
                <img src="img\0004.png">
            </a>
            <div class="remarks">
                Taipei 101 Tower
            </div>
        </div> -->

        <!-- 長條圖 -->
        <!-- <div>
            <h1>Taiwan's COVID'19 confirmed case</h1>
            <p>Domestic case number:</p>
            13 May: 25<div class="day13"></div>
            14 May: 25<div class="day14"></div>
            15 May: 25<div class="day15"></div>
            16 May: 25<div class="day16"></div>
        </div> -->

        <!-- 轉動方框 -->
        <!-- <div>
            <h1>This is a square transformation</h1>
            <div></div>
            <p>Color:from #4A4AFF #B15BFF</p>
        </div> -->
        <!-- 移動方框 -->
        <div class="move">
            <p>This is an example:</p>
            <div class="move"></div>
            <p>The animation will start after 3 second delay.</p>
        </div>

        <!-- 下拉式選單 -->
        <p>This is a drop-down list about available DB functions</p>
        <form action="/action.php">
            <label for="function">Please select the action:</label>
            <select name="db" id="db">
                <option value="add">Add new data</option>
                <option value="del">Delete the data</datagrid></option>
                <option value="list">List all data</option>
                <option value="init">Initialize</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>

        <!-- 陰影配置 -->
        <h1>May the force be with you.</h1>

        <!-- 漸層 -->
        <div id="rainbow">
            United We Stand
        </div>
        <div id="ocean">
            How Far I'll Go
        </div>

        <!-- Navigation Bar -->
        <!-- <div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#edu">Education</a></li>
                <li><a href="#ex">Experiences</a></li>
                <li><a href="#proj">Projects</a></li>
                <li><a href="#ach">Achievements</a></li>
            </ul>
        </div> -->

        <!-- 水平 -->
        <div>
            <ul>
                <li class="horizontal"><a href="#home">Home</a></li>
                <li class="horizontal"><a href="#edu">Education</a></li>
                <li class="horizontal"><a href="#ex">Experiences</a></li>
                <li class="horizontal"><a href="#proj">Projects</a></li>
                <li class="horizontal"><a href="#ach">Achievements</a></li>
                <li class="email"><a class="active" href="about">Email</a></li>
            </ul>
        </div>
        <p>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br>你好啊<br></p>
        <section id="home">
            <h1>section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1 section1v</h1>
        </section>
        <section id="edu">
            <h1>section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 </h1>
        </section>
        <section id="ex">
            <h1>section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 </h1>
        </section>
        <section id="proj">
            <h1>section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4</h1>
        </section>
        <section id="ach">
            <h1>section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5 section5</h1>
        </section>
    </body>
</html>